/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* selettori generici */
body{
    font-family: "Opern Sans", sans-serif;
}
header{
    background-color: #B4D0E7;
    position: relative;
}
main{
    padding-top: 120px;
}


section{
    width: 60%;
    margin: auto;
}
h1{
    font-size: 77px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
h4, h5{
    font-size: 16px;
}
.small{
    font-size: 14px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/* classi colonne */
[class*="col_"]{
    float: left;
}
.col_1_9{
    width: calc(100% / 9);
}
.col_2_9{
    width: calc(100% / 9 * 2);
}
.col_3_9{
    width: calc(100% / 9 * 3);
}
.col_4_9{
    width: calc(100% / 9 * 4);
}
.col_5_9{
    width: calc(100% / 9 * 5);
}
.col_6_9{
    width: calc(100% / 9 * 6);
}

/* bottoni */
.button_blue{
    background-color: #0D61FF;
    color: #ffffff;
    padding: 8px 20px;
    font-size: small;
    text-decoration: none;
}
.button_white{
    border: 1px solid;
    background-color: #ffffff;
    color: #000;
    padding: 8px 20px;
    text-decoration: none;
}


/* barra di navigazione */
nav{
    padding: 18px 0;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav ul{
    list-style: none;
    display: inline-block;
    width: 49%;
}
nav ul:nth-child(2){
    text-align: right;
}
nav li{
    display: inline-block;
}
nav a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px 20px;
}
nav ul:first-child li:first-child{
    vertical-align: middle;
}

/* hero */
.hero{
    max-width: 82%;
    margin: auto;
    padding-top: 100px;
    position: relative;
    bottom: -70px;
}
.hero .col_6_9 img{
    width: 90%;
    padding-left: 45px;
}
.hero h1{
    padding-bottom: 60px
}
.hero p{
    line-height: 25px;
    padding-bottom: 25px;
}
.hero .small{
    padding-top: 5px;
    padding-bottom: 25px;
}
.hero .fas{
    font-size: 30px;
}
.hero .button_blue{
    font-size: 16px;
}

/* sezione piano Dropbox */  
.dropbox_plan .radio_button{
    padding: 40px 0;
}
.dropbox_plan .col_3_9{
    padding: 0 10px;
}.dropbox_plan .col_3_9:first-child{
    padding-left: 0;
}
.dropbox_plan .col_3_9:last-child{
    padding-right: 0;
}
.border{
    border: 1px solid #d3d3d3;
    min-height: 1000px;
}
.plan_icon{
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    line-height: 40px;
}
.plan_1, .plan_2, .plan_3, .plan_4{
    padding: 30px;
}
.dropbox_plan .col_3_9 h3{
    padding: 18px 0;
}
.dropbox_plan .col_3_9 p:first-of-type{
    color: #808080;
    padding: 15px 0;
}
.dropbox_plan .col_3_9 ul{
    list-style: none;
    padding: 15px 0;
}
.dropbox_plan ul li{
    padding: 12px 0;
}
.dropbox_plan .col_3_9 p:nth-of-type(2){
    padding-top: 30px;
}
.dropbox_plan .col_3_9 hr{
    width: 20%;
    margin: 40px 0;
}
.dropbox_plan .col_3_9 ul:nth-of-type(2) i{
    color: #0000ff;
}
.dropbox_plan .button_blue{
    padding: 8px 38px;
}

.last_plan{
    border:  1px solid #d3d3d3;
    margin-top: 50px;
}
.last_plan h4{
    padding: 20px 0;
}
.last_plan .col_3_9{
    border: none;
    min-height: auto;
}
.last_plan .button_blue{
    padding: 8px 65px;
}


/* sezione partner */
.partner{
    padding-top: 200px;
}
.partner .col_5_9 img{
    width: 100%;
}
.partner .col_4_9{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.partner .col_4_9 h3{
    line-height: 30px;;
}
.partner .col_4_9 p{
    line-height: 30px;
    padding-bottom: 20px; 
}


/* sezione operazioni */
.operations{
    padding-top: 200px;
}
.operations h2{
    padding-bottom: 30px;
}
.operations .col_3_9{
    padding: 30px;
}
.operations .col_3_9 img{
    width: 100%;
}
.operations .col_3_9 h3{
    line-height: 30px;
    padding: 30px 0;
}
.operations .col_3_9 p{
    line-height: 25px;
}

/* sezione dropbox buisness */
.buisness{
    width: 100%;
    padding-top: 200px;
}
.dropbox_buisness_title{
    margin: auto;
    width: 55%;
}
.dropbox_buisness_title h2{
    width: 555px;
    line-height: 50px;
}
.dropbox_buisness_title a{
    display: inline-block;
    padding: 40px 0;
}
.dropbox_buisness{
    width: 100%;
}
.dropbox_buisness > div:nth-of-type(odd){
    width: 30%;
}
.dropbox_buisness > div:nth-of-type(2){
    width: 40%;
    padding: 50px;
    background-color: #e2e1e1;
    height: 30vw;
    overflow: auto;
}
.dropbox_buisness > div:nth-of-type(2) img{
    width: 30%;
}
.dropbox_buisness > div:nth-of-type(2) hr{
    width: 60px;
    color: #d3d3d3;
    margin: 40px 0;
}
.dropbox_buisness > div:nth-of-type(2) p{
    line-height: 20px;
}
.dropbox_buisness > div{
    float: left;
    height:100%;
}
.dropbox_buisness > div:nth-of-type(odd) div{
    float: left;
    width: 50%;
    height: calc(30vw / 2);
}
.dropbox_buisness div.clearfix div{
    position: relative;
}
.dropbox_buisness > div:nth-of-type(odd) img{
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}    
/* posizionamento e sfondo dei loghi delle aziende */
.bg_lightgreen{
    background-color: #9fc99f;
}
.bg_bordeaux{
    background-color: #61082b;
}
.bg_bluesky{
    background-color: #6d9ffc;
}
.bg_red{
    background-color: #ff0000;
}
.bg_bluewater{
    background-color: #84d3dd;
}
.bg_blue{
    background-color: rgb(0, 0, 155);
}
.bg_yellow{
    background-color: rgb(219, 219, 10);
}

.dropbox_buisness_undertitle_bg{
    background-color: #77bbc4;
}
.dropbox_buisness_undertitle{
    width: 70%;
    margin: auto;
    padding: 100px 50px;
}
.dropbox_buisness_undertitle h2{
    float: left;
    color: #61082b;
    width: 60%;
}
.dropbox_buisness_undertitle a{
    float: right;
    padding: 8px 60px;
    border: none;
}


/* sezione domande frequenti */
.faq{
    padding: 150px 0;
}
.faq h3{
    padding-bottom: 60px;
}
.faq div{
    padding: 20px 0;
    border-top: 1px solid #d3d3d3;
    position: relative;
}                                             
.faq div:last-child{
    border-bottom: 1px solid #d3d3d3;
}
.faq div h5{
    display: inline-block;
}
.faq div i{
    position: absolute;
    right: 0;
    transition: transform .3s;
}
.faq div p{
    padding-top: 30px;
    height: 0;
    display: none;
}
.faq div:focus p{
    display: block;
    height: 50px;
}
.faq div:focus i{
    transform: rotate(180deg);
}


/* footer */
footer{
    background-color: #000000;
}
footer .footer_list{
    width: 70%;
    margin: auto;
    padding: 100px 0 50px 0;

}
footer ul{
    list-style: none;
    float: left;
    padding: 0 38px;
    padding-bottom: 130px;
}
footer h5{
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 20px;
}
footer ul li a{
    color: #ffffff;   
}
footer ul li{
    padding: 8px 0;
}
footer ul:first-of-type{
    padding-left: 0;
}
footer ul:last-of-type{
    padding-right: 0;
}
.footer_list > a{
    color: #808080;
    font-size: small;
    border-top: 1px solid #808080;
    padding: 30px 0;
}